body {
	background: url('../img/bg.jpg');
	background-size: cover;
	font-family: Ninja Naruto;
}

.container	{
	background: url('../img/container.jpg');
	background-size: cover;
	border-left: 2px solid black;
	border-right: 2px solid black;
	border-bottom: 2px solid black;
	position: absolute;
	bottom: 0px;
	top: 0px;
	left: 100px;
	right: 100px;
}

#frame, #menu, #footer	{	
	margin-top: 20px;
	margin-bottom: 20px;
	background: white;
    box-shadow: 3px 0px 10px 3px orange;
}

.tuile	{
	height: 64px;
	width: 64px;
	border-radius: 50%;
	margin: auto;
	background-position: center;
	margin-top: 10px;	
}

#about	{
	background: url('../img/about.png');
	background-size: cover;
}
#dl	{
	background: url('../img/dl.png');
	background-size: cover;
}

.titre	{
	font-family: Ninja Naruto;
	font-size: 40px;
	color: white;
	text-shadow:0 0 3px orange;
}

#acceuil	{
	background: white;
}

#infos	{
	
}

.nostyle	{
	list-style: none;
	padding-left: 0px;
}

.progress-bar-striped	{
	background-color: red !important;
}

#tcontroles td	{
	border: 1px solid black;
	padding: 2px;
	
}
#tcontroles td:first-child	{
	font-weight: bold;
}
#tcontroles td:last-child	{
	text-align: center;
}

.spoiler	{
	
}

.barre {
	text-decoration:line-through;
}

.ninja	{
	font-family: Ninja Naruto;
}

input:radio[name=ninja]:checked .ninja	{
	text-shadow: 0 0 3px orange;
}

#canvas	{
	border: 1px solid black;
}

.btn {
	width: 100px;
	border: 1px solid black;
}

.toSlide	{
	border-left: 1px solid black;
	border-right: 1px solid black;
	border-bottom: 1px solid black;
	margin: auto;
}